.messages {
  padding: 10px 15px;
  padding-right: 0px;
  border-left: 1px solid var(--border);
  flex: 1;
  display: flex;
  flex-direction: column;
  height: fit-content;
  overflow-y: auto;
  
  justify-content: flex-end;
  .end {
    width: 100%;
    display: flex;
    gap: 10px;
    overflow-y: auto;
    flex-direction: column;
    
    &::-webkit-scrollbar {
      width: 5px;
    }
  
    &::-webkit-scrollbar-thumb {
      background: var(--border);
      border-radius: 50px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
  }
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 50px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
}